<h1>Награды</h1>

<p>
  <%= link_to 'Новая награда', new_admin_badge_path %>
</p>

<div class="row">
  <table class="table">
    <tr>
      <th>Наименование</th>
      <th>Изображение</th>
      <th>Правило</th>
      <th colspan="3">Действия</th>
    </tr>

    <%= render @badges %>
  </table>
</div>
