<tr>
  <td class="align-middle"><%= badge.name %></td>
  <td class="align-middle"><%= badge.image %></td>
  <td class="align-middle"><%= rule_info(badge) %></td>
  <td class="align-middle"><%= link_to t('.show'), badge_path(badge) %></td>
</tr>
