<h1>Badges</h1>

<div class="row">
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th>Rule</th>
      <th colspan="1">Actions</th>
    </tr>

    <%= render @badges %>
  </table>
</div>
