<h1>Награды</h1>

<div class="row">
  <table class="table">
    <tr>
      <th>Наименование</th>
      <th>Изображение</th>
      <th>Правило</th>
      <th colspan="1">Действия</th>
    </tr>

    <%= render @badges %>
  </table>
</div>
