<h1>Gists</h1>

<div class="row">
  <table>
    <tr>
      <th class="col col-md-6">Вопрос</th>
      <th class="col col-md-2">URL</th>
      <th class="col col-md-4">Пользователь</th>
    </tr>

    <%= render @gists %>
  </table>
</div>
