<h1>The <%= @test_passage.test.title %> Test was Completed!</h1>

<p>
  <% if @test_passage.test_passed? %>
    <font color="green">Тест успешно пройден</font>
  <% else %>
    <font color="red">Тест не пройден</font>
  <% end %>
</p>

<%= link_to 'Back to tests', tests_path %>
