<p>
  <%= current_year %>, Сурганов Антон.
</p>

<p>
  Проект <%= link_to 'TestGuru', github_url('HalamBalam', 'TestGuru') %>.
  <br>Приложение для создания и прохождения тестов по различным предметам
</p>

<p>
  Учебный проект в онлайн-школе <%= link_to 'Thinknetica', 'http://thinknetica.com/' %>
</p>
