<h1>Доступные Тесты</h1>

<div class="row">
  <table>
    <tr>
      <th class="col col-md-5">Название</th>
      <th class="col col-md-2">Уровень</th>
      <th class="col col-md-3">Кол-во вопросов</th>
      <th class="col col-md-2">Действия</th>
    </tr>

    <%= render @tests%>
  </table>
</div>
