<h1>Tricky Tests</h1>

<div class="row">
  <table>
    <tr>
      <th class="col col-md-5">Title</th>
      <th class="col col-md-2">Level</th>
      <th class="col col-md-3">Questions</th>
      <th class="col col-md-2">Actions</th>
    </tr>

    <%= render @tests%>
  </table>
</div>
